thead {color:green;}
tbody {color:blue;}
table, th, td {
 border: 1px solid black;
}
td, th{
 padding: 5px;
}

#searchBox{
    width : 60%;
    height : 25px;
    margin : 10px;
    border : none;
    border : solid 1px #ccc;
    border-radius : 10px;
    
}
strong#highLighter {
    background-color : #FFEB3B;
}

img#sorticon{
    height : 10px;
    width : 10px;
}